.todo-list-text {
    font-size: 25px;
}

.done-msg {
    font-size: 20px;
    color: green;
}

.todo-input-grid,
.todo-list {
    display: grid;
    grid-template-columns: 200px 200px 100px;
    column-gap: 20px;
    row-gap: 10px;
    align-items: center;
}

.task-input, 
.date-input {
    font-size: 16px;
    padding: 10px 15px;
}

.add-btn {
    border: none;
    font-size: 16px;
    background-color: green;
    color: white;
    cursor: pointer;
    padding: 12px 0;
}

.todo-list{
    margin-top: 20px;
    font-size: 18px;
}

.delete-btn {
    border: none;
    font-size: 16px;
    background-color: darkred;
    color: white;
    cursor: pointer;
    padding: 8px 0;
}